.chip {
  background: var(--link);
  margin-top: 0.25rem;

  display: flex;
  justify-content: space-between;

  .text {
    padding: 0.5rem;
    color: white;
  }

  .close {
    padding: 0 .5rem;    
    display: grid;
    place-items: center;

    &:hover {
      // transform: scale(1.5);
      background: rgba(0, 0, 0, 0.25);
      font-weight: bold;
      cursor: pointer;

      &:active {
        background: rgba(0, 0, 0, 0.35);
      }
    }


  }
}